* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #353535;
  overscroll-behavior-y: none;
}

.app {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* pointer-events: none; */
}

.skewContainer {
  padding: 2vh 0;
  pointer-events: none;
  z-index: 10;
}

.not-subport-contianer {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-subport-contianer img {
  width: 400px;
}

.not-subport-contianer p {
  margin: 50px 30px;
  font-size: 50px;
  font-family: "Druk_Wide_Bold";
  -webkit-text-stroke: 2px #3c6e71;
  color: rgba(0, 0, 0, 0);
}

.kursor {
  z-index: 9999 !important;
}
